html {
  color: $almostBlack;
  @include box-sizing(border-box);
  font: normal normal 300 15px/1.4em $mainFont;
}

*,
*:before,
*:after {

  @include box-sizing(inherit);
}

h1 {
  font: normal normal 800 2rem/1.4em $mainFont;
}
h2 {
  font: normal normal 600 1.8rem/1.4em $mainFont;
}
h3 {
  font: normal normal 600 1.6rem/1.4em $mainFont;
}
h4 {
  font: normal normal 600 1.4rem/1.4em $mainFont;
}
p {
  font: inherit;
}
.nav {
  background-color: $veryOrange;
  .logo-img {
    padding: 15px 20px;
  }
}

.profile-section {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-between);
  @include align-items(center);

  > * {
    @include flex(1);
  }
}
.section-title {
  padding: 15px;
  h2 {
    font-weight: 800;
  }
  h2, h4 {
    text-align: center;
  }
}
.profile-image {
  padding: 20px 0;
  img {
    border: 1px solid $almostBlack;
    @include border-radius(50%);
  }
}
.panel {
  > .panel-body {
    font: normal normal 300 15px/1.4em $mainFont;
  }
  > .panel-heading h2 {
    font: normal normal 300 1.3rem/1.4em $mainFont;
  }
}
.card-list > .panel {
  .panel-heading {
    background-color: $seaBlue;
    h2 {

      color: $white;
    }
  }
  border: 1px solid #B4B8AB;
}

.bio {
  > .panel {
    max-width: 90%;
    .panel-heading h2 {
      font-weight: 600;
    }
  }
}
